/**
  Страницы ошибок 4xx 5xx
 */

.error-header {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: var(--main-text);
}

.error__root {
  flex-direction: column;
}

.error-message {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--main-text);
  margin-top: 20px;
}

.small-link_error {
  margin-top: 69px;
}
